.zen-mode__context-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
}

.zen-mode-trello-context-icon {
  margin-left: 3px;
  width: 22px;
}

.hide-or-show-option {
  cursor: pointer;
}

.zen-mode-trello-icon {
  margin-right: 3px;
  cursor: pointer;
}

.card-detail-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='25%2c 25' stroke-dashoffset='12' stroke-linecap='square'/%3e%3c/svg%3e");
}
