/* ZM button */
.ZenModeLogo {
  --size: 1.33em;
  height: var(--size);
  width: var(--size);
  position: relative;
  background-position: center;
  background-size: contain;
}
.ZenModeLogoInlined {
  display: inline-block;
  vertical-align: middle;
  margin: -.2em .5em 0;
}
#ZenMode__toggle {
  --size: 25px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
html[dir="rtl"] #ZenMode__toggle {
  margin-right: 0;
  margin-left: 10px;
}
/* ZM button chevron */
#ZenMode__toggle__chevron {
  width: fit-content;
  margin: 0 5px;
  position: absolute;
  left: -30px;
  bottom: -3px;
}
html[dir="rtl"] #ZenMode__toggle__chevron {
  right: -30px;
}
/* ZM badge */
#ZenMode__badge {
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #77dd77;
  border-radius: 50%;
  box-shadow:0 0 1px #444;
}

/* Release notes */
#ZenMode__releaseNotes {
  position: fixed;
  height: fit-content;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999999;
  padding: 1em;
  /*background: white;*/
  direction: ltr;
  text-align: left;
}

#ZenMode__releaseNotes__version {
  margin-bottom: 0.5em;
  font-weight: bold;
}
#ZenMode__releaseNotes ul {
  list-style: inside;
}
#ZenMode__releaseNotes li {
  margin: 0.5em 0;
}
#ZenMode__releaseNotes__closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
#ZenMode__releaseNotes h1,
#ZenMode__releaseNotes b {
  font-weight: 500;
}

#ZenMode__zenMorningArea {
  position: fixed;
  height: fit-content;
  width: fit-content;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  text-align: justify;
  direction: inherit;
  padding: 1em;
}
#ZenMode__zenMorningArea p {
  line-height: 1.38em;
}
#ZenMode__zenMorningArea__footer {
  align-items: center;
  display: flex;
  margin-top: 1em;
  justify-content: flex-end;
}
#ZenMode__zenMorningArea__footer > [data-action] {
  color: rgba(0,0,0,.72);
  cursor: pointer;
  margin: 0 1em;
  font-weight: bold;
  text-transform: uppercase;
}
#ZenMode__zenMorningArea__footer [data-action=ok] {
  color: #4ACD7C;
}


#ZenMode__releaseNotes > h1,
#ZenMode__zenMorningArea > h1 {
  margin-bottom: 1em;
  font-size: x-large;
}

#ZenMode__zenMorning__sunIcon {
  position: absolute;
  left: .5em;
  bottom: .5em;
  background-color: white;
  width: 1.33em;
  height: 1.33em;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
html[dir] ._2Z4DV #ZenMode__zenMorning__sunIcon {
  background-color: var(--background-default);
}
html[dir] ._2Z4DV:hover #ZenMode__zenMorning__sunIcon {
  background-color: var(--background-default-hover);
}
html[dir] ._2Z4DV._2GVnY #ZenMode__zenMorning__sunIcon {
  background-color: var(--background-default-active);
}
html[dir=rtl] #ZenMode__zenMorning__sunIcon {
  position: absolute;
  left: unset;
  right: .5em;
}

.hiddenChatEl .dNJHX[data-action=fakeCtxMenu] {
  width: 20px;
}
.hiddenChatEl:not(:hover) .dNJHX[data-action=fakeCtxMenu] {
  display: none;
}

.fakeCtxMenu {
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

.fakeCtxMenuItem._2iavx {
  opacity: 1;
}
.fakeCtxMenuItem.first {
  position: relative;
}
.fakeCtxMenuItem.first::after {
  content: '';
  position: absolute;
  height: 1px;
  border-top: dashed 1px gray;
  left: 20px;
  right: 20px;
  top: 0;
}
@media (prefers-color-scheme: dark) {
  .fakeCtxMenuItem.first::after {
    border-top-color: white;
  }
}
/* Zen mode menu */
.fakeCtxMenu[data-menu-type=ZM] {
  width: 280px;
}

html[dir=rtl] .fakeCtxMenu[data-menu-type=ZM] {
  width: 310px;
}

.fakeCtxMenu[data-menu-type=ZM] [data-action=smartMute] ._2oldI.dJxPU {
  padding: 12px 24px;
}
.fakeCtxMenu[data-menu-type=ZM] [data-action=autoReadHiddenConversations] ._2oldI.dJxPU {
  padding: 12px 24px;
}
.ZenMode__contextMenuItem__withIcon {
  align-items: center;
  color: inherit;
  display: flex;
  justify-content: space-between;
}
#ZenMode__smartMute__soundIcon svg {
  height: auto;
  width: 18px;
}
/* Fake Context Menu animations */
@keyframes showFakeCtxMenu {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hideFakeCtxMenu {
  0% {
    transform: scale(1);
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(0);
  }
}

.fakeCtxMenuSettings {
  display: none;
}

.fakeCtxMenuItemOpts.show .fakeCtxMenuSettings {
  display: block;
  top: 0;
  height: fit-content;
  background: #fff;
}

html[dir=rtl] .fakeCtxMenuSettings {
  width: 320px;
  left: -320px;
}

html[dir=ltr] .fakeCtxMenuSettings {
  width: 290px;
  right: -290px;
}


#ZenMode_hide_popup {
  position: fixed;
  height: fit-content;
  width: fit-content;
  left: 50%;
  top: 50%;
  min-width: 400px;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999999;
  padding: 1em;
  direction: ltr;
  text-align: left;
}

.hide-popup-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  gap: 10px;
}

.hide-popup-group:first-child {
  margin-top: 16px;
}

.hide-popup-button {
  padding: 10px 16px;
  color: #fff;
  background: #4ced69;
  outline: none;
  border: none;
  width: fit-content;
  margin-left: auto;
}

/* Navigation Drawer */

button._2fQtj {
  fill: #DFE5E7;
}
._2nY6U button._2fQtj {
  display: none;
}
._2nY6U:hover button._2fQtj {
  display: initial;
}
